.triangleRotate {
  transform: rotate(180deg);
}

.backgroundBlueDark {
  background-color: #091c3e;
}

.textBlueDark {
  color: #091c3e;
}

.backgroundGrayDark {
  background-color: #808080;
}

.backgroundGrayLight {
  background-color: #b3b3b3;
}

.iconeGrayLight {
  color: #ababab;
}
